name: production yolkbot

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: add deps
        run: bun install

      - name: build node
        run: bun run build/node.ts

      - name: build browser
        run: bun run build/browser.ts

        # auth is handled thru OIDC (id-token)
      - name: publish to npm
        run: npm publish